* {
   text-decoration: none;
   list-style: none;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body{
   background: black ;
   overflow-x: hidden;
}

.conteiner {
   width: 100%;
   position: fixed;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 8px;
}
.riot_logo{
   width: 100px;
}
.pesquisa input[type=text] {
   border-radius: 900px;
   text-align: center;
}

.liquid{
   display: flex;
  gap: 20px;
}
.liquid li{
color: white;
font-family: Arial, Helvetica, sans-serif;
font-weight: 600;
}

.titulo{
   color: white;
   padding: 5%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.card{
   display: flex;
   text-align: center;
   align-items: center;
   justify-content: space-around;
   height: 500px;
}
.card p{
   color: white;
}

.omen{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.omen img{
width:500px;
}

.noticia{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.noticia img{
   width: 500px;
}

.atualizacao{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.atualizacao img{
   width: 500px;
}

.atualizacao{
   align-items: center;
   text-align: center;
}


.arcane{
   background-image: url(/arcane_dsktp_centerAlignedCrd_BG_2x.jpg);
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100vw;
   height: 100vh;
   border-radius: 8px;
   flex-direction: column;
   gap: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFffff;
}

.arcane input[type=text] {
   display: flex;
   justify-content: center;
   align-items: center;
   background: #ffffff;
   width: 540px;
   height: 66px;
   border-radius: 8px;
   margin-bottom: 20px;

}

.arcane input[type=password] {
   display: flex;
   justify-content: center;
   align-items: center;
   background: #fffffff;
   width:540px;
   height:66px;
   border-radius:8px;
   margin-bottom: 20px;
}

.arcane input[type=submit] {
   color: rgb(17, 0, 255);
   display: flex;
   justify-content: center;
   align-items: center;
   background: #FFffff;
   width: 540px;
   height: 66px;
   border-radius: 8px;
}
.sobre{
   color: white;
  padding: 100px;
  font-family: Arial, Helvetica, sans-serif;
 text-align: justify;
 text-indent: 5%;
 
}

.sobre img{
   width: 500px;
}
.foto{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 20px;

}
.foto img{
   width: 100;
}
.games p{
   margin-top: 15px;
   margin-bottom: 15px;
}
.suporte{
   color: white;
   margin-bottom: 30px;
   align-items: center;
   justify-content: center;
   display: flex;
   font-family: Arial, Helvetica, sans-serif;
}
.ajuda{
   color: white;
   margin-bottom: 30px;
   font-family: Arial, Helvetica, sans-serif;
}
.botao input[type=button] {

   background-color: rgb(71, 68, 68);
   margin-left: 8px;
   height: 70px;
   width: 100%;
   display: flex;
   color: white;
   align-items: center;
   justify-content: center;
}
.procurava{
   color: white;
   margin-top: 30px;
   margin-bottom: 30px;
   align-items: center;
   justify-content: center;
   display: flex;
   font-family: Arial, Helvetica, sans-serif;

}
    .botao input[id=botao9]{
      background-color: red;
      width: 200px;
      display: flex;
      justify-content: center;
   margin-left: 830px;}

   .localizacao{
    display: flex;
    margin-bottom: 40px;
   }

  
.legends{
color: white;
display: flex;
font-family: Arial, Helvetica, sans-serif;
margin-bottom: 10px;
align-items: center;
justify-content: center;
gap: 330px;

}
   .nosso{
      color: white;
      display: flex;
      margin-bottom: 50px;
      align-items: center;
      justify-content: center;
      font-family: Arial, Helvetica, sans-serif;

   }
   .riot{
      display: flex;
     width: 400px;
      }
      .coluna{
         display: flex;
         flex-direction: row;
         gap: 60px;
         align-items: center;
         justify-content: center;
      }
   .pinguim{
      display: flex;
      width: 400px;
   }
   .serie{
      color: white;
      display: flex;
     margin-top: 60px;
     margin-left: 8px;
     font-family: Arial, Helvetica, sans-serif;
   }
   .vi{
      display: flex;
      width: 420px;
      align-items: center;
      justify-content: center;
      padding: 20px;
   }
   .musica{
      color: white;
      margin-top: 60px;
   }
   .spotify{
      margin-top: 30px;
   }

   .riot:hover{
      animation-name: isa;
      animation-duration: 1s;}
   
   
   @keyframes isa {
      0% {
         transform: scale(1);
      }
   
      50% {
         transform: scale(1.2);
      }
   
      100% {
         transform: scale(1);
      }
   }
   .pinguim:hover{
      animation-name: isa;
      animation-duration: 1s;}
   
   
   @keyframes isa {
      0% {
         transform: scale(1);
      }
   
      50% {
         transform: scale(1.2);
      }
   
      100% {
         transform: scale(1);
      }
   }
   .vi:hover{
      animation-name: isa;
      animation-duration: 1s;}
   
   @keyframes isa {
      0% {
         transform: scale(1);
      }
   
      50% {
         transform: scale(1.2);
      }
   
      100% {
         transform: scale(1);
      }
   }


